.sign-in-form {
  display: grid;
  gap: 0.5rem;
}

.signin-card-footer {
  flex-direction: column;
}

.signin-card-footer button {
  background-color: white;
  color: black;
  gap: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.signin-card-footer button img {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.sign-in-form span {
  color: red;
  font-size: 0.8rem;
}

.sign-in-form .form-status-container,
.sign-in-form .form-status {
  display: none;
}

.sign-in-form:is(.success, .error) .form-status-container,
.sign-in-form:is(.success, .error) .form-status {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 0 0.25rem;
  font-size: 0.875rem;
}

.sign-in-form:is(.success) .form-status-container {
  background-color: rgba(0, 179, 134, 0.1);
}

.sign-in-form:is(.error) .form-status-container {
  background-color: rgba(255, 0, 0, 0.1);
}

.sign-in-form:is(.error) .form-status {
  color: rgba(255, 0, 0, 1);
}

.sign-in-form:is(.success) .form-status {
  color: rgba(0, 179, 134, 1);
}